<html>
    <head>
        <title>Login Page</title>
        <style>
            body{
                font-family: Arial, Helvetica, sans-serif;
                margin: 0;
            }
            nav{
                background: #ff5353;
                padding: 20px 10px;
            }
            nav ul{
                max-width: 960px;
                margin: 0 auto;
                padding: 0;
            }
            nav li{
                list-style-type: none;
                display: inline-block;
                margin: 0 10px 0 0;
            }
            main, header{
                max-width: 960px;
                margin: 10px auto;
                padding: 0 10px;
                color: #333;
            }
        </style>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/auth/login">Login</a></li>
                <li><a href="/auth/logout">Logout</a></li>
                <li><a href="/">Homepage</a></li>
            </ul>
        </nav>
        <header>
            <h1>Login using ...</h1>
       </header>
        <main>  
            <a class="google-btn" href="/auth/google"><h1>Google+</h1></a>
        </main>
    </body>
</html>